{% extends "base.html" %}
{% block title %}Delete Template{% endblock %}
{% block content %}
<div class="card">
    <div class="card-body">
        <h3>Are you sure you want to delete "{{ object.name }}"?</h3>
        <p>This will also delete all associated fields.</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Confirm Delete</button>
            <a href="{% url 'template_list' %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}